<div fxLayout="row" class="ml-3 mr-4 mt-2">
  <div fxFlex="100" class="flex-p">
    <mat-card class="block p-0">

      <div class="bg-primary">
        <div fxLayout="row" style="background-color:#286ba5!important" fxLayout.xs="column"
          fxLayoutAlign="space-between center" class="w-100">
          <div class="">
            <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
              <mat-icon>chevron_left</mat-icon>
              
            </button>
            <button mat-icon-button mwlCalendarToday [(viewDate)]="viewDate">
              <mat-icon>today</mat-icon>
            </button>
            <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
              
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
          <h3 style="margin-left: -105px;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          <div class="">
          </div>
        </div>
      </div>

      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventTimesChanged($event)" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen">
        </mwl-calendar-month-view>
        <!-- <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh">
        </mwl-calendar-day-view> -->
      </div>

    </mat-card>
  </div>
</div>