<div class="row-wrap">
  <div class="flex-p w-100">
    <div class="row">
      <div class="col-xs-12">
        <div class="row" style="margin-bottom:7px;">
          <div class="col-xs-4 ">
            <div class="flex-p">
            </div>
          </div>
          <div class="col-xs-8 " style="margin-left:-10px">
            <div class="flex-p">
              <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10"
                (click)="filterToggle = !filterToggle">
                <mat-icon>filter_list</mat-icon> Filter
              </button>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Filter table -->
<div fxLayout="row wrap" *ngIf="filterToggle">
  <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
    <mat-card class="filter">
      <mat-card-content>
        <div class="row">
          <div class="col-sm-3">
            <div class="col-sm-8">
              <mat-select class="form-control" placeholder="Location">
                <mat-option [value]="0">Hyderabad</mat-option>
                <mat-option [value]="1">New Delhi</mat-option>
                <mat-option [value]="2">Ahmedabad</mat-option>
                <mat-option [value]="3">Bengaluru</mat-option>
                <mat-option [value]="4">Chennai</mat-option>
                <mat-option [value]="5">Visakhapatnam</mat-option>

              </mat-select>

            </div>
          </div>
          <div class="col-sm-3">
            <div class="col-sm-8">
              <mat-select class="form-control" placeholder="Year">
                <mat-option [value]="0">2021</mat-option>
                <mat-option [value]="1">2020</mat-option>
                <mat-option [value]="2">2019</mat-option>
                <mat-option [value]="3">2018</mat-option>
                <mat-option [value]="4">2017</mat-option>
                <mat-option [value]="5">2016</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-sm-3">

          <div class="col-lg-1" style="margin-left:195px!important;">
            <button mat-raised-button class="pull-right btn-primary">
              <mat-icon>youtube_searched_for</mat-icon> Go
            </button>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
            <button mat-raised-button style="background-color:#37474f; color:#fff !important">
              <mat-icon>settings_backup_restore</mat-icon> Clear
            </button>
          </div>
          <a (click)="filterToggle = !filterToggle" class="pull-right"
            style="font-size: 25px; cursor: pointer; margin-left: 5px;">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
          </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Table -->
<div>
  <div class="col-xs-12" style="margin-left:8px;">
    <div id="grid-table-container" class="table-responsive" style="width: 99%;">
      <table matSort id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr>
            <th class="theadcolor ">Rank #</th>
            <th class="theadcolor ">Unit</th>
            <th class="theadcolor ">Location</th>
            <th class="theadcolor ">Average Audit Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of values">
            <td >{{item.Rank}}</td>
            <td >{{item.Unit}}</td>
            <td >{{item.Location}}</td>
            <td >{{item.Average}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator> -->
    </div>
  </div>
</div>