.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .example-tree-node {
    display: block;
  }
  
  .example-tree-node .example-tree-node {
    padding-left: 40px;
  }

  .example-tree-progress-bar {
    margin-left: 30px;
    background-color: blue;
  }
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 30px;
  }
  
  html, body {
    height: 100%;
  }  