<div fxLayout="row wrap" class="breadcrumb" *ngIf="router.url != '/'"  >
  <div fxFlex="100">
    <h2
      *ngIf="!description[moduleTitle][subTitle]"
      style="margin-top:5px;margin-bottom:10px; font-size: 25px;"
     
    >
      {{ moduleTitle || "Dashboard" }}
    </h2>
    <h2
      *ngIf="description[moduleTitle][subTitle]"
      style="margin-top:10px;margin-bottom:5px;"
     
    >
      {{ subTitle || "Dashboard" }}
    </h2>
    <mat-card fxLayout="row" class="breadcrumb helptext bc">
      <div fxFlex="100" class="flex-p">
        <span
          *ngIf="!description[moduleTitle][subTitle]"
          class="page-title nomargin"  
        >
          {{ description[moduleTitle] || description["Dashboard"] }}
        </span>
        <!-- <span
          *ngIf="description[moduleTitle][subTitle]"
          class="page-title nomargin" 
          >{{ description[moduleTitle][subTitle] }}</span
        > -->
        <!-- <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item" fxLayout="row"
                        fxLayoutAlign="start center" style="float:right">
                        <span class="breadcrumb-title active margin-right">
                          {{(breadcrumb.name) | titlecase}}</span>
                        <a [hidden]="i == (breadcrumbs.length - 1)"
                            [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a>
                    </div> -->
      </div>
           
    </mat-card>
  </div>
</div>
