<div class="col-sm-12 nopadding" style="margin-bottom: 10px;">
  <div class="col-sm-12">
    <h3> <strong>Questions for checklist Warehouse DRL-Demo</strong></h3>
  </div>
</div>
<div style="margin-bottom: 25px;">
  <div class="col-sm-12 ">
    <div class="pull-right">
      <a mat-raised-button class="navtabWidth pull-right" style="background-color: #dddddd;" (click)=" back()">
        <mat-icon>keyboard_backspace</mat-icon> Back
      </a>
    </div>
  </div>
</div>
<div class="col-sm-12 nopadding" style="margin-bottom: 10px;">
  <div class="col-sm-12">
    <h4> <strong>Department : Ware House - Engineering DRL </strong></h4>
  </div>
</div>
<div class="col-sm-12 nopadding" style="margin-bottom: 10px;">
  <div class="col-sm-12">
    <!--  <strong>Department: Ware House - Engineering DRL </strong>-->
  </div>
  <div class="col-sm-12">
    <strong>Section: Buildings &amp; Infrastructure DRL </strong>
  </div>

</div>
<div style="font-size: 17px;">
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                1: &nbsp; Public Addressing system verification - All points shall be in working condition. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                2: &nbsp; Lux Levels verification in Building - not less than 150 level and emergency lights shall be
                provided. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                3: &nbsp; Building External Closure: It shall be enclosed to prevent rain, insects and birds entry
              </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px" >Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                4: &nbsp; Ceiling Check: No Leakage at all floors and terrace slab. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                5: &nbsp; Building external cracks - There shall be no major cracks at all floors of the building and
                external surface. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                6: &nbsp; Doors and Windows verification - Hinges, door closure, surface finish, and locking system
                shall be in good condition. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                7: &nbsp; Painting Verification - Surface finish shall be in good condition, No peeloff and shade
                variation. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                8: &nbsp; Entry points - Holes made in brick work or concrete shall be properly closed, painted and no
                exposure </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                9: &nbsp; Rain water run off at terrace - Rain water shall run off to nearest down take pipe and
                sufficient down take pipe are available. 95% run off shall happen </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                10: &nbsp; Tank farm area shall be fenced properly. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                11: &nbsp; Dyke Wall construction shall be as per design. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                12: &nbsp; Warehouse areas are controlled to prevent access of un-authorized personnels. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                13: &nbsp; Tanker unloading area shall be as per safety standards. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                14: &nbsp; Building shall be covered under Lightning protection radius and protection system shall be
                visible from all sides. </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" id="">
  <div class="col-md-12 nopadding">
    <div class="panel-group" aria-expanded="true">
      <div class="panel panel-default">
        <div class="panel-body shadow-boxes">
          <div class="col-sm-12 marginTB10">
            <div class="col-sm-10 nopadding">
              <div class="col-sm-12">
                15: &nbsp; Hot and cold water should be available in wash room hand wash area </div>
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="1"> <label for="APRYes" style="margin-left:10px">Yes</label>
                </div>
                <div class="col-sm-6">
                  <input disabled="" type="radio" value="2"> <label for="APRNo" style="margin-left:10px">No</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Access:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Camara Access" style="margin-left:10px">Camera Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="Chk'@q.QuestionID'Option2" style="margin-left:10px">Gallery
                  Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="File Browser Access" style="margin-left:10px">File Access</label>
              </div>
              <div class="col-sm-3">
                <input type="checkbox" checked="" disabled=""> <label for="All Access" style="margin-left:10px">All Access</label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2">Priority:</div>
            <div class="col-sm-10">
              <div class="col-sm-3">
                <input type="radio" checked="" disabled=""> <label for="High" style="margin-left:10px">High</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Medium" style="margin-left:10px">Medium</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" disabled=""> <label for="Low" style="margin-left:10px">Low</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>