
<div class="container-fluid no-padding">
  <div class="w-100">
    <div class="flex-p">

      <div class="row wrap">
        <div class="col-sm-12 no-padding">

          <div class="row-wrap">
            <div class="w-100">

              <div class="col-xs-12 no-padding" style="margin-top: 15px;">
                <div class="col-sm-3">
                  <mat-card class=" pb-2"
                    style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
                    <div class="row">
                      <div class="col-9">
                        <div class="row">
                          <div class="col-12">
                            <h4> 1850</h4>
                          </div>
                          <div class="col-12">
                            <h5 class="text-primary pt-1">Checklist Audits</h5>
                          </div>
                          <!-- <div class="col-12">
                            <h4 class="mb-0 d-inline-block  pt-1">40</h4> &nbsp;
                             <mat-icon style="font-size: 16px;font-weight: bold;"class="text-success">arrow_upward</mat-icon>
                          </div> -->
                        </div>
                      </div>
                      <div class="col-2">
                        <mat-icon style="font-size: 40px;margin-top: 10px; color: #007ad9;">check_circle</mat-icon>
                      </div>
                    </div>

                  </mat-card>
                </div>
                <div class="col-sm-3">
                  <mat-card class=" pb-2"
                    style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
                    <div class="row">
                      <div class="col-9">
                        <div class="row">
                          <div class="col-12">
                            <h4>1375</h4>
                          </div>
                          <div class="col-12">
                            <h5 class="text-warning pt-1">Parameter Audits</h5>
                          </div>
                          <!-- <div class="col-12">
                            <h4 class="mb-0 d-inline-block  pt-1">59</h4> &nbsp; <mat-icon style="font-size: 16px;font-weight: bold;"
                              class="text-success">arrow_upward</mat-icon>
                          </div> -->
                        </div>
                      </div>
                      <div class="col-2">
                        <mat-icon style="font-size: 37px;margin-top: 10px;" class="text-warning">fact_check</mat-icon>
                      </div>
                    </div>

                  </mat-card>
                </div>

                <div class="col-sm-3">
                  <mat-card class=" pb-2"
                    style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
                    <div class="row">
                      <div class="col-9">
                        <div class="row">
                          <div class="col-12">
                            <h4>750</h4>
                          </div>
                          <div class="col-13" style="margin-left:15px">
                            <h5 class="text-success pt-1">Average Demerit</h5>
                          </div>
                          <!-- <div class="col-12">
              <h4 class="mb-0 d-inline-block  pt-1">58</h4> &nbsp; <mat-icon style="font-size: 16px;font-weight: bold;"
                class="text-success">arrow_upward</mat-icon>
            </div> -->
                        </div>
                      </div>
                      <div class="col-2">
                        <mat-icon style="font-size: 40px;margin-top: 10px;" class="text-success">grading</mat-icon>
                      </div>
                    </div>

                  </mat-card>
                </div>
                <div class="col-sm-3">
                  <mat-card class=" pb-2"
                    style="border-radius: 5px;    background-image: linear-gradient(to top, #f3f3f1 0%, #f5f4f0 1%, #ffffff 31%, #ffffff 75%, #f3f3f3 100%);">
                    <div class="row">
                      <div class="col-9">
                        <div class="row">
                          <div class="col-12">
                            <h4>1210</h4>
                          </div>
                          <div class="col-12">
                            <h5 class=" pt-1" style="color: #6805c5;">Average Issues</h5>
                          </div>
                          <!-- <div class="col-12">
              <h4 class="mb-0 d-inline-block  pt-1">22</h4> &nbsp; <mat-icon style="font-size: 16px; font-weight: bold;"
                class="text-success">arrow_upward</mat-icon>
            </div> -->
                        </div>
                      </div>
                      <div class="col-2">
                        <mat-icon style="font-size: 40px;margin-top: 10px;color:#6805c5">done</mat-icon>
                      </div>
                    </div>

                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" style="padding: 0 0 0 2px;margin-top: 6px;">
  <div class="col-sm-4 no-padding">
    <div class="col-sm-12" style="padding-left:9px !important">
      <div class="col-sm-3 no-padding">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="radar-statistics">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Statistics
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 no-padding mr-2">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="radar-checklist-audit/radar-ca-audittype-trend">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Checklist-Audit
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 no-padding">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="radar-parameter-audit/radar-pa-audittype-trend">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Parameter-Audit
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-12 no-padding mt-4">
    <router-outlet></router-outlet>
  </div>
</div>