ul {
    list-style-type: none;
    height: 30px;
}
.ul li .btn.active {
    background-color: #337ab7 !important;
    color: #fff !important;
}
.nav-item{
    width: 100% !important;
    margin-bottom: 10px;
}
