<!-- <div class="loginForm">
            
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      
        <img class="logo" src="../../assets/images/logo.png"/>
        
        <div class="form-div">
            <div class="usernamediv">
                <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                <input type="text" id="username"  formControlName="username" placeholder="Username" class="form-input"/>
            </div>
        </div>
        
        <div class="form-div">
            <div class="passworddiv">
                <i class="fa fa-key fa-lg" aria-hidden="true"></i>
                <input type="password" id="password" formControlName="password" placeholder="Password" class="form-input"/>
            </div>
        </div>
        
        <div class="form-div" >
            <button type="submit" id="submit">Login</button>
        </div>
    </form>
</div>   -->

<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100 login-bg">

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" style="position: relative;
         left: 29%;
         top: 0%;
         margin-bottom: 11%;">

            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header" style="background-color:#0e0c0c !important">
                    <img alt="logo" class="logo-default logo-img" style="height: 80px;width: 250px;margin-bottom: 20px;" src="../../assets/mglogo.jpg">
                    <!-- <a mat-button routerLink="/register">Don't have an account? Sign up now!</a>#262626 -->
                </div>

                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <!-- <span class="box-content-header">member login</span>   -->
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <!-- <a (click)="ChangetextType(isPassword = ! isPassword)"><i class="fas fa-eye"></i>   </a> -->
                            <input matInput placeholder="Password" [type]=TypeString formControlName="password" maxlength="50">
                            <mat-icon matSuffix style="cursor: pointer;  font-size: 14px!important;" (click)="ChangetextType(isPassword = ! isPassword)">remove_red_eye</mat-icon>
                            <mat-error style="font-size: 12px !important" *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                            <mat-error style="font-size: 12px !important" *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                        </mat-form-field>
                        <!-- <div class="w-100">
                            <mat-checkbox>Remember me!</mat-checkbox>
                            <a [routerLink]="['/forgotpassword']" class="pull-right" style="color: #1c76c3;">Forgot Password?</a>
                        </div> -->
                        <div class="w-100">
                            <mat-checkbox >Remember me!</mat-checkbox>
                            <a [routerLink]="['/forgotpassword']" class="pull-right" style="color: #1c76c3;">Forgot Password?</a>
                        </div>
                    </mat-card>
                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" style="background-color: #2596be !important;" type="submit">SIGN IN</button>
                </mat-card-content>
                <!-- Forgot Password -->

                
            </mat-card>

        </form>

    </div>

</mat-sidenav-container>
