<!-- <div class="col-sm-12">
  <div class="col-md-6" style="margin-left: -12%;">
    <div class="pills">
      <ul class="nav nav-pills">
        <li (click)="CA()" routerLinkActive="active" >
          <!-- routerLink="parameter-audit" -->
<!-- <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
            PA
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="pills">
      <ul class="nav nav-pills">
        <li (click)="CA()" routerLinkActive="active" > -->
<!-- routerLink="checklist-audit" -->
<!-- <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
            CA
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> -->

<!-- <div class="row-wrap">
  <div class="w-100">

    <div class="col-xs-12" style="margin-top: 15px;">
      <div class="pills">
        <ul class="nav nav-pills" style="margin-left: 10px;">
          <li routerLinkActive="active" routerLink="astor">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
              Astor
            </a>
          </li>
          <li routerLinkActive="active">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
              Hector
            </a>
          </li>
          <li routerLinkActive="active">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
              Gloster
            </a>
          </li>
          <li routerLinkActive="active">
            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
              ZSEV
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div> -->


<div class="col-sm-12">
  <div class="col-md-2">
    <div class="col-sm-12">
      <div class="col-md-6" style="margin-left: -12%;">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                CA
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="checklist-audit">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                PA
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>


</div>
<router-outlet></router-outlet>




  <!-- <div id="grid-table-container" class="table-responsive" style="margin-top:25px;width: 95%;margin-left:17px">
    <table matSort id="example2" class="table table-bordered table-hover">
    <thead class="tbl-head">
      <tr>

        <th class="text-center">Severity</th>
        <th class="text-center">Issues</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="text-center">{{item.severity }}</td>
        <td class="text-center">{{item.issues }}</td>
      </tr>
    </tbody>
  </table>

</div> -->