<!-- Table -->
<div>
  <div class="col-xs-12" style="margin-left:8px;margin-top:10px;padding-right: 0px;padding-left: 0px;">
    <div id="grid-table-container" class="table-responsive" style="width: 99%;">
      <!-- Add,upload,download & filter tabs -->
      <div class="container-fluid">
        <div class="w-100">
          <div class="flex-p">
            <div class="row wrap">
              <div class="col-sm-12 no-padding">
                <div class="row-wrap">
                  <div class="w-100">
                    <div class="row pull-right" style="margin-right: -5px;">
                      <div class="">
                        <button style="margin-bottom: 7px" mat-raised-button
                          class="pull-right  btn-primary margin-right-5 mt-3" (click)="addtarget(null)">
                          <mat-icon>add</mat-icon> Add Monthly Targets
                        </button>
                        <button style="margin-bottom: 7px" mat-raised-button
                          class="pull-right  btn-primary margin-right-10 mt-3" (click)="openUploadCSV()">
                          <mat-icon>cloud_upload</mat-icon> Upload CSV
                        </button>
                        <button style="margin-bottom: 7px" mat-raised-button
                          class="pull-right  btn-primary margin-right-10 mt-3" (click)="downloadSampleExcel()">
                          <mat-icon>archive</mat-icon> Download Sample
                        </button>
                        <button style="margin-bottom: 7px" mat-raised-button color="primary"
                          class="pull-right filters-hover margin-right-10 mt-3" (click)="filterToggle = !filterToggle">
                          <mat-icon>filter_list</mat-icon> Filter
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- Filter UI -->
      <div fxLayout="row wrap" *ngIf="filterToggle">
        <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
          <mat-card class="filter">
            <mat-card-content>
              <div class="row" style="padding-top:10px !important">
                <div class="col-sm-5">
                  <div class="col-sm-4">
                    <label class="pull-right" style="margin-top: 6px;">Keyword Search:</label>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Search by Keyword ">
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="col-sm-3">
                    <!-- <label class="pull-right" style="margin-top: 6px;">Status:</label> -->
                  </div>
                  <div class="col-sm-6">
                    <!-- <mat-select class="form-control" placeholder="Select Status" required>
                      <mat-option *ngFor="let option of Status" [value]="option.value">
                        {{option.name}}
                      </mat-option>

                    </mat-select> -->
                  </div>
                </div>

                <div class="col-sm-2">
                  <button mat-raised-button class="pull-right btn-primary" style="margin-left: 5px;">
                    <mat-icon>youtube_searched_for</mat-icon> Go
                  </button>
                  <button mat-raised-button style="background-color:#37474f; color:#fff !important;" class="pull-right">
                    <mat-icon>settings_backup_restore</mat-icon> Clear
                  </button>
                </div>

              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <!-- Table  -->
      <table style="margin-top: 7px;padding-left: 0px; padding-right: 0px;" matSort id="example2"
        class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr>
            <th class="theadcolor">Target Demerit</th>
            <th class="theadcolor text-center">Model</th>
            <th class="theadcolor text-center">Month</th>
            <th class="theadcolor text-center">Year</th>
            <th class="theadcolor text-center">Status</th>
            <th class="theadcolor text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of values">
            <td>{{item.target}}</td>
            <td class="text-center">{{item.model}}</td>
            <td class="text-center">{{item.month}}</td>
            <td class="text-center">{{item.year}}</td>
            <td class="text-center"><a [ngStyle]="{'color': item.status? 'blue' : 'red','cursor':'pointer'}"
                mwlConfirmationPopover [popoverTitle]="popoverStatusTitle" [popoverMessage]="popoverStatusMessage"
                placement="left" (confirm)="saveStatus();item.status=!item.status" (cancel)="cancelClicked = true"
                matTooltip="Click to Change Status">
                {{item.status?'Active':'Inactive'}}
              </a></td>
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Edit" (click)="addtarget(item)">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete" style="cursor: pointer;"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="4" [pageIndex]="0" [pageSize]="4" [pageSizeOptions]="[5, 10, 25, 50, 100]"
        showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>