<div class="NewHeader">
  <h1 mat-dialog-title>Grid View Configuration </h1>
</div> 
<p>Please select the required columns in the grid, to view grid with specific columns</p>
<div mat-dialog-content style="overflow:hidden!important;">
  

<form class="form-horizontal">
  <div mat-dialog-content>
    <div class="" style="margin-top: 20px">
      <mat-checkbox class="col-sm-4" color="warn" formControlName="clientName">Client Name</mat-checkbox>
      <mat-checkbox class="col-sm-4" color="warn" formControlName="clientEmail">Email</mat-checkbox>
      <mat-checkbox class="col-sm-4" color="warn" formControlName="clientPhone">Phone Number</mat-checkbox>
      <mat-checkbox class="col-sm-4" color="warn" formControlName="clientAddress">Street Address</mat-checkbox>
      <mat-checkbox class="col-sm-4" color="warn" formControlName="clientCity">City</mat-checkbox>
      <mat-checkbox class="col-sm-4" color="warn" formControlName="clientPostalCode">Postal Code</mat-checkbox>
      <mat-checkbox class="col-sm-4" color="warn" formControlName="clientCreatedDate">Date Created</mat-checkbox>
      <mat-checkbox class="col-sm-4" color="warn" formControlName="clientCreatedDate">Status</mat-checkbox>

    </div>

  </div>
  

</form>

</div>

<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary" (click)="close()">Configure</button>
  <button mat-raised-button class="CancelClass" (click)="close()">Cancel</button>
</mat-dialog-actions>