<div class="col-sm-12" style="padding: 0 0 0 2px;margin-top: 6px;">
  <div class="col-sm-3 no-padding">
    <div class="col-sm-12" style="padding-left:9px !important">
      <div class="col-sm-6 no-padding">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="dashboard-zsev-checklist-audit/zsev-pqa">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Checklist-Audit
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="dashboard-zsev-parameter-audit/zsev-Crating">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Parameter-Audit
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-12 no-padding">
    <router-outlet></router-outlet>
  </div>


</div>
