<div fxLayout="row wrap">
  <div class="flex-p w-100">
    <div class="row" style="margin-bottom:14px;">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="w-100 flex-p">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="w-100 flex-p">
          <button mat-raised-button class="pull-right add-hover-help btn-success-help"
            style="margin-left: 10px; background-color: rgb(255, 255, 1);">
            <mat-icon>help_outline</mat-icon> Help
          </button>
          <button mat-raised-button class="pull-right add-hover margin-right-10 btn-primary"
            (click)="openClientDialog('add')">
            <mat-icon>person_add</mat-icon> Add
            Customer
          </button>
          <button mat-raised-button color="primary" class="pull-right filter-hover margin-right-10"
            (click)="filterToggle = !filterToggle">
            <mat-icon>filter_list</mat-icon> Filter
          </button>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" *ngIf="filterToggle">
      <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p">
        <mat-card class="filter">
          <mat-card-content>
            <div class="row col-sm-12">
              <div class="col-sm-4">
                <div class="col-sm-4 newMarginClass">
                  Keyword:
                </div>
                <div class="col-sm-8">
                  <input type="text" onCopy="return false" onPaste="return false" class="form-control"
                    placeholder="Search by Customers Name">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-4 newMarginClass">
                  Select Status:
                </div>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option disabled selected value> -- Select Status -- </option>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-1" style="margin-left:195px!important;">
                <button mat-raised-button class="pull-right btn-primary">
                  <mat-icon>youtube_searched_for</mat-icon> Search
                </button>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                <button mat-raised-button style="background-color:#37474f; color:#fff !important">
                  <mat-icon>settings_backup_restore</mat-icon> Clear
                </button>
              </div>
              <a (click)="filterToggle = !filterToggle" class="pull-right"
                style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
              </a>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div class="table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
              <th>
                Client Name
              </th>
              <th>
                Email
              </th>
              <th style="text-align: center !important;">
                Phone Number
              </th>
              <th>
                Street Address
              </th>
              <th>
                City
              </th>
              <th style="text-align: center !important;">
                Postal Code
              </th>
              <th style="text-align: center !important;">
                Date Created
              </th>
              <th style="text-align: center !important;">
                Status
              </th>
              <th style="text-align: center !important;">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of tableList">
              <td>
                {{items.cName}}
              </td>
              <td>
                {{items.email}}
              </td>
              <td class="text-center">
                {{items.phone}}
              </td>
              <td>
                {{items.sAdd}}
              </td>
              <td>
                {{items.city}}
              </td>
              <td class="text-center">
                {{items.poscode}}
              </td>
              <td class="text-center">
                {{items.date}}
              </td>
              <td style="text-align: center !important;">

                <a [ngStyle]="{'color': items.status? 'blue' : 'red','cursor':'pointer'}" mwlConfirmationPopover
                  [popoverTitle]="popoverStatusTitle" [popoverMessage]="popoverStatusMessage" placement="left"
                  (confirm)="saveStatus();items.status=!items.status" (cancel)="cancelClicked = true">
                  {{items.status?'Active':'Inactive'}}
                </a>
              </td>
              <td style="text-align: center !important;">
                <a title="Edit User" style="margin-right: 10px; cursor: pointer;">
                  <i class="fa fa-edit"></i>
                </a>
                <a mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                  placement="left" (confirm)="deleteUser()" (cancel)="cancelClicked = true">
                  <i style="cursor: pointer;" title="Delete User" class="fa fa-trash red"></i>
                </a>

              </td>
            </tr>
          </tbody>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>


      </div>

    </div>

  </div>

</div>