<mat-sidenav-container>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100 login-bg">

        <form fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60" style="position: relative;
         left: 29%;
         top: 0%;
         margin-bottom: 11%;">

            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header" style="background-color:#0e0c0c !important">
                    <img alt="logo" class="logo-default logo-img" style="height: 80px;width: 250px;margin-bottom: 20px;" src="../../assets/Group 688.png">
                    <!-- <a mat-button routerLink="/register">Don't have an account? Sign up now!</a>#262626 -->
                </div>

                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                        <span class="box-content-header" style="margin-bottom: 15px; color: #283593 !important;">Forgot Password ?</span>
                        <span>Please enter your e-mail address below to reset your password.</span>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email">
                            <mat-error>Email is required</mat-error>
                            <mat-error >Invalid email address</mat-error>
                        </mat-form-field>                        
                    </mat-card>
                    <div class="col-sm-10" style="margin-bottom: -115px; ">
                        <button mat-raised-button color="primary" class="mat-elevation-z12 box-button login pull-right"  style="background-color: #2596be !important;" type="submit">Submit</button>
                        <button mat-raised-button color="primary" class="col-sm-5 mat-elevation-z12 box-button filter-hover" [routerLink]="['/login']" >Back</button>
                    </div>
                </mat-card-content>
                <!-- Forgot Password -->

                
            </mat-card>

        </form>

    </div>

</mat-sidenav-container>
