<div class="row">
  <div class="col-sm-4">
    <div id="chart">
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke">
      </apx-chart>
    </div>
    

  </div>
  <div class="col-sm-4">
    <table matSort id="example2" class="table table-bordered table-hover">
      <thead class="tbl-head">
        <tr>

          <th class="text-center">Top 3 Issues</th>
          <th class="text-center">Average Demerit Per Vehicle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="text-center">{{item.issues }}</td>
          <td class="text-center">{{item.average }}</td>
        </tr>
      </tbody>
    </table>
</div>

  </div>
