<!-- <div class="w-100">
    <div class="flex-p">
        <div class="row wrap">
            <div class="col-sm-12 no-padding">
                <div class="row-wrap">
                    <div class="w-100">
                        <div class="row">
                            <div class="col-xs-12" style="margin-bottom: 15px;margin-left: 3px;">
                                <div class="pills">
                                    <ul class="nav nav-pills" style="margin-left: 10px;margin-bottom: -25px;">
                                        <li routerLinkActive="active" routerLink="/checklist/module-master">
                                            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                                Module Master
                                            </a>
                                        </li>
                                        <li routerLinkActive="active" routerLink="/checklist/function-master">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Function Master
                                          </a>
                                        </li>
                                        <li routerLinkActive="active" routerLink="/checklist/defect-master">
                                            <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                              Defect Master
                                            </a>
                                        </li>  
                                        <li routerLinkActive="active" routerLink="/checklist/issue-master">
                                          <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                                            Issue Master
                                          </a>
                                        </li>                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet> -->
  
  <div class="row-wrap">
    <div class="w-100">
  
      <div class="col-xs-12" style="margin-top: 15px; padding-left: 0px;">
        <div class="pills">
            <ul class="nav nav-pills" style="margin-left: 10px;">
                <li routerLinkActive="active" routerLink="category-master">
                    <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                      Category Master
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="measurement-master">
                  <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                    Measurement Master
                  </a>
              </li>
                <li routerLinkActive="active" routerLink="checkpoint-master">
                  <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                    Checkpoint Master
                  </a>
                </li>

                <li routerLinkActive="active" routerLink="par-audit-type">
                  <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                    Audit Type
                  </a>
                </li>

                <li routerLinkActive="active" routerLink="par-monthly-target">
                  <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                    Targets
                  </a>
                </li>

                                    
            </ul>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>