<div class="NewHeader">
  <h1 mat-dialog-title>
    {{data ? 'Update' : 'Add'}} Targets
  </h1>
</div>
<div mat-dialog-content>
  <form class="form-horizontal">
    
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Target Demerit : </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <mat-select class="form-control" placeholder="Select Target Demerit" required>
          <mat-option [value]="0">Vehicle1</mat-option>
          <mat-option [value]="1">Vehicle2</mat-option>
          <mat-option [value]="1">Vehicle3</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label" >Month: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <mat-select class="form-control" placeholder="Select Month" required>
          <mat-option [value]="0"> 01</mat-option>
          <mat-option [value]="1"> 02</mat-option>
          <mat-option [value]="2">03</mat-option>
        </mat-select>

      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label" >Year: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <mat-select class="form-control" placeholder="Select Year" required>
          <mat-option [value]="0">2020</mat-option>
          <mat-option [value]="1"> 2021</mat-option>
          <mat-option [value]="2">2022</mat-option>
        </mat-select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Model: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <mat-select class="form-control" placeholder="Select MOdel" required>
          <mat-option [value]="0"> x-1</mat-option>
          <mat-option [value]="1"> x-2</mat-option>
          <mat-option [value]="2">x-3</mat-option>
        </mat-select>

      </div>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary" [mat-dialog-close]="'test'">
    <mat-icon>send</mat-icon><span>{{ data ? 'Update' : 'Save'}}</span>
  </button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">
    <mat-icon>cancel</mat-icon>Close
  </button>
</mat-dialog-actions>