<div class="row-wrap">
    <div class="w-100">
  
      <div class="col-xs-12 no-padding" style="margin-top: 15px;">
        <div class="pills">
            <ul class="nav nav-pills" style="margin-left: 10px;">
                <li routerLinkActive="active" routerLink="overview/astor/dashboard-checklist-audit/astor-pqa">
                    <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                      Overview
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="quality-audit/qa-astor/dashboard-qa-checklist-audit/astor-qa-pqa">
                  <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                    Quality Audit
                  </a>
                </li>
                <!-- <li routerLinkActive="active" routerLink="agency-report">
                    <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                      Agency Report
                    </a>
                </li>   -->
                <li routerLinkActive="active" routerLink="repeated-issues">
                  <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                    Repeated Issues
                  </a>
                </li>                      
            </ul>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>