<div class="row col-12 mt-5">
  <div class="col-6">
    <div class="chart-header">
      <h3 style="color: #212121;font-size:26;margin-top:10px;margin-left: 20%;">Demerit distribution by Audit Type</h3>
    </div>
    <div id="grid-table-container" class="table-responsive" style="margin-top:25px;width: 95%;margin-left:17px">
      <!-- <table matSort id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr>
            <th>Period</th>
            <th class="text-center">Amount (AUD)</th>
            <th class="text-center">Invoices</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            
            <td>{{item.period }}</td>
            <td class="text-center">{{item.amt }}</td>  
            <td class="text-center"><a style="color:blue" routerLink="/mrc/accounting/Payables/ageing-invoices" matTooltip="View Invoice">{{item.inv }}</a></td>

          </tr>

        </tbody>
      </table> -->
      <table matSort id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr >
            
            <th class="text-center">Audit Type</th>
            <th class="text-center">Issues</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="text-center">{{item.audtitype }}</td>
            <td class="text-center">{{item.issues }}</td>  
                     </tr>
        </tbody>
      </table>
      
    </div>

  </div>

<div class="col-6">
  <div style="margin-left: 2%">
    
    <div class="flex-p">
      <mat-card>
        <div class="chart-header">
          <p style="font-size: 20px;margin-top:10px;margin-left: 36%;">Sections</p>
        </div>
      <div class="w-100 h-300p">
        <ngx-charts-pie-chart
          [scheme]="colorScheme"
          [results]="three"
          [legend]="showLegend"
          [explodeSlices]="explodeSlices"
          [labels]="showLabels"
          [doughnut]="doughnut"
          [gradient]="gradient"
        >
        </ngx-charts-pie-chart>
      </div>
    </mat-card>
  </div>
</div>
</div>
</div>
