<div class="NewHeader">
  <h1 mat-dialog-title>
    Add Customer
  </h1>
</div>
<div mat-dialog-content>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Client Name: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Enter Client Name ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Email: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Enter Email ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Phone Number: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Enter Phone Number ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Street Address: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Enter Street Address ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">City: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Enter City ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Postal Code: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="number" class="form-control" placeholder="Enter Postal Code ">
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button  (click)="close()" style="color: rgb(7, 10, 7); background-color: #e0e0e0;"><mat-icon>cancel</mat-icon> Close</button>
    <button mat-raised-button class="btn-primary" [mat-dialog-close]="'test'"><mat-icon>send</mat-icon> Save
       </button>
</mat-dialog-actions> 