<div class="NewHeader">
  <h1 mat-dialog-title>Grid View Configuration </h1>
</div> 
<p>Please select the required columns in the grid, to view grid with specific columns</p>
<div mat-dialog-content style="overflow:hidden!important;">
  <form class="form-horizontal" novalidate  style="margin-top:10px">
    <mat-checkbox  class="col-sm-4" >Date</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >VIN</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Checkpoints</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Compailance</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Issues</mat-checkbox>

    <mat-checkbox  class="col-sm-4" >Auditor</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Model</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Variant</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Intercam Trim</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Color</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Fuel-Type</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Transmission</mat-checkbox>
    <mat-checkbox class="col-sm-4" >Status</mat-checkbox>
    <mat-checkbox  class="col-sm-4" >Actions</mat-checkbox>
   
  </form>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary" (click)="close()"><mat-icon>send</mat-icon>Configure</button>
  <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon>Cancel</button>
</mat-dialog-actions>


