<div class="row-wrap">
  <div class="w-100">

    <div class="col-xs-12" style="margin-top: 15px;">
      <div class="pills">
          <ul class="nav nav-pills" style="margin-left: 10px;">
              <li routerLinkActive="active" routerLink="/admin/organisation/location">
                  <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                      Location Master
                  </a>
              </li>
              <li routerLinkActive="active" routerLink="/admin/organisation/agency">
                <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                  Agency Master
                </a>
              </li>                
          </ul>
      </div>
    </div>
  </div>
  
</div>