<div class="col-sm-12 no-padding">
  <div class="col-sm-12 no-padding" style="margin-top: 15px;">
    <div class="col-sm-2" style="padding-left:7px">
      <div class="col-md-12 no-padding">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="radar-pa-audittype-trend">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
               Audit Type Trend
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 no-padding">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="radar-pa-location-trend">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Location Trend
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 no-padding">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="radar-pa-model-trend">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Model Trend
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 no-padding">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="radar-pa-category-trend">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Category Trend
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 no-padding">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active" routerLink="radar-pa-time-series">
              <a mat-raised-button class="navtabWidth" style="margin-top: 10px;">
                Time Series
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>

    </div>

  </div>

  <!-- <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div> -->


</div>