<!-- Table -->
<div >
  <div class="col-xs-12" style="margin-left:8px;margin-top:10px;">
    <div id="grid-table-container" class="table-responsive" style="width: 99%;">
  
      <div class="container-fluid">
        <div class="w-100">
          <div class="flex-p">
            <div class="row wrap">
              <div class="col-sm-12 no-padding">
                <div class="row-wrap">
                  <div class="w-100">
                    <div class="row pull-right" style="margin-right: -5px;">
                
                          <div class="">
                            
                            <button style="margin-bottom: 7px" mat-raised-button class="pull-right  btn-primary margin-right-5 mt-3"  (click)="addUser()">
                              <mat-icon >add</mat-icon> Add User
                              </button>
                              <button style="margin-bottom: 7px"
                              mat-raised-button
                              color="primary"
                              class="pull-right filters-hover margin-right-10 mt-3"
                              (click)="filterToggle = !filterToggle"
                            >
                              <mat-icon>filter_list</mat-icon> Filter
                            </button>
                            <!-- <button  mat-raised-button style="margin-right: 12px;" color="primary" class="pull-right  mt-3"  (click)="addgrid()">
                              <mat-icon>grid_on</mat-icon>Manage Grid
                              </button> -->
                        
                          </div>
                       
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" *ngIf="filterToggle" >
        <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
          <mat-card class="filter"> 
            <mat-card-content>
              <div class="row">
                <div class="col-sm-4">
                  <div class="col-sm-4" >
                    <label class="pull-right" style="margin-top: 6px;" >Email:</label>
                  </div>
                  <div class="col-sm-8" >
                    <input type="email"  placeholder="Enter Email" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="col-sm-4" >
                    <label class="pull-right" style="margin-top: 6px;" >Office:</label>
                  </div>
                  <div class="col-sm-8" >
                    <mat-select class="form-control" placeholder="Select VIN:" required>
                      <mat-option [value]="0">Hyderabad</mat-option>
                      <mat-option [value]="1">Banglore</mat-option>
                      <mat-option [value]="2">Mumbai</mat-option>
                      <mat-option [value]="4">Pune</mat-option>
                      <mat-option [value]="5">Raipur</mat-option>
                      <mat-option [value]="5">Bhilai</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="col-sm-4" >
                    <label class="pull-right" style="margin-top: 6px;" >Role:</label>
                  </div>
                  <div class="col-sm-8" >
                    <mat-select class="form-control" placeholder="Select VIN:" required>
                      <mat-option [value]="0">Admin</mat-option>
                      <mat-option [value]="1">Staff</mat-option>
                      <mat-option [value]="2">Manager</mat-option>
                    </mat-select>
                  </div>
                </div>
               
              </div>
             
              <div class="row" style="padding-top:10px !important">
               
                <div class="col-sm-12">
                  <button mat-raised-button class="pull-right btn-primary" style="margin-left: 5px;">
                    <mat-icon>youtube_searched_for</mat-icon> Go
                  </button>
                  <button mat-raised-button style="background-color:#37474f; color:#fff !important;"  class="pull-right" >
                    <mat-icon>settings_backup_restore</mat-icon> Clear
                  </button>
                </div> 
               
              </div>
            </mat-card-content>
          </mat-card> 
        </div>
        
      </div>
      <table  style="margin-top: 7px" matSort id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr>
            <th class="theadcolor">Full Name</th>
            <th class="theadcolor">Email</th>
            <th class="theadcolor">Username</th>
            <th class="theadcolor text-center">Location</th>
            <th class="theadcolor text-center">Office</th>
            <th class="theadcolor text-center">Role</th>
            <th class="theadcolor text-center">Screen Permissions</th>
            <th class="theadcolor text-center">Status</th>
            <th class="theadcolor text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of values">
            <td>{{item.full_name}}</td>
            <td>{{item.email}}</td>
             <td >{{item.username}}</td>
            <td class="text-center">{{item.location}}</td>
            <td class="text-center">{{item.office}}</td>
            <td class="text-center">{{item.Role}}</td>

            <td class="text-center">
              <a  style="cursor: pointer; color: cornflowerblue;"  routerLink="/admin/manage-users/permissions">{{item.PermissionsCount}}</a>       
            </td>


            <td class="text-center"><a [ngStyle]="{'color': item.status? 'blue' : 'red','cursor':'pointer'}"
              mwlConfirmationPopover [popoverTitle]="popoverStatusTitle"
              [popoverMessage]="popoverStatusMessage" placement="left"
              (confirm)="saveStatus();item.status=!item.status" (cancel)="cancelClicked = true">
              {{item.status?'Active':'Inactive'}}
          </a></td>
            <td class="text-center editDel">
              <a style="cursor: pointer;margin-right:10px; " matTooltip="Edit" (click)="addUser()">
                <i class="fa fa-edit" style="color: cornflowerblue"></i>
              </a>
              <a><i class="fa fa-trash red" matTooltip="Delete" style="cursor: pointer;"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="4" [pageIndex]="0" [pageSize]="4"
        [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>