<div class="col-12">
  <div class="col-12">
    <div class="flex-p">
      <mat-card style="width: 1185px;">
        <div class="chart-header">
          <mat-select class="form-control pull-right" placeholder="Select Year"
          style="width: 118px;">
          <mat-option [value]="0">2021</mat-option>
          <mat-option [value]="1">2020</mat-option>
          <mat-option [value]="2">2019</mat-option>
          <mat-option [value]="3">2018</mat-option>
          <mat-option [value]="4">2017</mat-option>
          <mat-option [value]="5">2016</mat-option>
        
        </mat-select>
          <h3 class="text-center" style="font-size: 25px;">Average Demerits per vehicle</h3>
        </div>
        <div class="h-300p">
          <ngx-charts-bar-vertical-stacked [scheme]="colorSchemee" [results]="demerits" [gradient]="gradient" [legend]="showLegend"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [animations]="animations" (select)="onSelect($event)">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </mat-card>
    </div>

</div>
  <div class="col-12">
    <div class="flex-p">
      <mat-card style="width: 1185px;">
        <div class="chart-header">
          <mat-select class="form-control pull-right" placeholder="Select Year"
          style="width: 118px;">
          <mat-option [value]="0">2021</mat-option>
          <mat-option [value]="1">2020</mat-option>
          <mat-option [value]="2">2019</mat-option>
          <mat-option [value]="3">2018</mat-option>
          <mat-option [value]="4">2017</mat-option>
          <mat-option [value]="5">2016</mat-option>
        
        </mat-select>
          <h3 class="text-center" style="font-size: 25px;">Average Issues per vehicle</h3>
        </div>
        <div class="h-300p">
          <ngx-charts-bar-vertical-stacked [scheme]="colorSchemee" [results]="issues" [gradient]="gradient" [legend]="showLegend"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [animations]="animations" (select)="onSelect($event)">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </mat-card>
    </div>

</div>
</div>