<div class="NewHeader">
  <h1 mat-dialog-title>
    {{data ? 'Update' : 'Add'}} Checklist Audit
  </h1>
</div>
<div mat-dialog-content >
    <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">VIN : </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="text" class="form-control" placeholder="Enter VIN">
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4 add-member-label">Audit Type: </label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <mat-select class="form-control" placeholder="Select Audit Type" required>
        <mat-option [value]="0">Product Quality Audit</mat-option>
        <mat-option [value]="1">Body Audit</mat-option>
        <mat-option [value]="2">Paint Audit</mat-option>
      </mat-select>
     
    </div>
</div>
  <div class="form-group">
    <label class="control-label col-sm-4 add-member-label">Location: </label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <mat-select class="form-control" placeholder="Select Location" required>
        <mat-option [value]="0">Mumbai</mat-option>
        <mat-option [value]="1">Banglore</mat-option>
        <mat-option [value]="2">Chennai</mat-option>
        <mat-option [value]="4">Hyderabad</mat-option>
        <mat-option [value]="5">Raipur</mat-option>
        <mat-option [value]="0">Bhilai</mat-option>
        <mat-option [value]="1">Pune</mat-option>
        <mat-option [value]="2">Delhi</mat-option>
      </mat-select>
    </div>
</div>
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Model: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <mat-select class="form-control" placeholder="Select Model" required>
          <mat-option [value]="0">Hector</mat-option>
          <mat-option [value]="1">Astor</mat-option>
          <mat-option [value]="2">Gloster</mat-option>
          <mat-option [value]="4">EV</mat-option>
        </mat-select>
      </div>
  </div>
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Variant: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <mat-select class="form-control" placeholder="Select Variant" required>
                <mat-option [value]="0">VDI</mat-option>
                <mat-option [value]="1">SXI</mat-option>
                <mat-option [value]="2">LDI</mat-option>
              </mat-select>

            </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Interior Trim: </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <mat-select class="form-control" placeholder="Select Interior Trim" required>
              <mat-option [value]="0">High</mat-option>
              <mat-option [value]="1">Medium</mat-option>
              <mat-option [value]="2">Low</mat-option>
            </mat-select>
          </div>
         </div>
        <div class="form-group">
          <label class="control-label col-sm-4 add-member-label">Color: </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <mat-select class="form-control" placeholder="Select Color" required>
              <mat-option [value]="0">White</mat-option>
              <mat-option [value]="1">Black</mat-option>
              <mat-option [value]="2">Blue</mat-option>
              <mat-option [value]="3">Orange</mat-option>
            </mat-select>

          </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Transmission: </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <mat-select class="form-control" placeholder="Select Transmission" required>
            <mat-option [value]="0">Automatic</mat-option>
            <mat-option [value]="1">Semi-Automatic</mat-option>
            <mat-option [value]="2">Manual</mat-option>
          </mat-select>

        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Fuel Type: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <mat-select class="form-control" placeholder="Select Fuel Type" required>
          <mat-option [value]="0">Petrol</mat-option>
          <mat-option [value]="1">Diesel</mat-option>
          <mat-option [value]="2">EV</mat-option>
        </mat-select>

      </div>
  </div> 
  <div class="form-group">
    <label class="control-label col-sm-4 add-member-label">Date: </label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <input type="date" class="form-control" placeholder="Select Date ">
    </div>
</div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="btn-primary"  [mat-dialog-close]="'test'"> <mat-icon>send</mat-icon><span
             >{{data ? 'Update' : 'Save'}}</span></button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()"><mat-icon>cancel</mat-icon>Close</button>
</mat-dialog-actions> 