<!-- Add, Filter -->
<div class="container-fluid">
  <div class="w-100">
    <div class="flex-p">
      <div class="row wrap">
        <div class="col-sm-12 no-padding">
          <div class="row-wrap">
            <div class="w-100">
              <div class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                  <div class="col-xs-6"></div>

                  <div class="col-xs-6">
                    <div class="">

                      <button mat-raised-button class="pull-right  btn-primary margin-right-5 mt-3"
                        (click)="addlookup(null)">
                        <mat-icon>add</mat-icon> Add Lookup
                      </button>
                      <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10 mt-3"
                        (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filter -->
<div fxLayout="row wrap" *ngIf="filterToggle" >
  <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins" style="margin-left: -6px;
  margin-right: -4px">
    <mat-card class="filter"> 
      <mat-card-content>
        <div class="row">
          <div class="col-sm-4">
            <div class="col-sm-4" >
              <label class="pull-right" style="margin-top: 6px;" >Code:</label>
            </div>
            <div class="col-sm-8">
              <mat-select class="form-control" placeholder="Select Code" required>
                <mat-option [value]="0">Side View</mat-option>
                <mat-option [value]="1">Face View</mat-option>
                <mat-option [value]="2">Demerit</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-4" >
              <label class="pull-right" style="margin-top: 6px;" >Lookup:</label>
            </div>
            <div class="col-sm-8" >
              <mat-select class="form-control" placeholder="Select Lookup" required>
                <mat-option [value]="0">LH</mat-option>
                <mat-option [value]="1">RH</mat-option>
                <mat-option [value]="2">BH</mat-option>
                <mat-option [value]="3">FT</mat-option>
                <mat-option [value]="4">RR</mat-option>
                <mat-option [value]="5">1</mat-option>
                <mat-option [value]="6">5</mat-option>
                <mat-option [value]="7">10</mat-option>
                <mat-option [value]="8">20</mat-option>
                <mat-option [value]="9">50</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="col-sm-4" >
              <label class="pull-right" style="margin-top: 6px;" >Status:</label>
            </div>
            <div class="col-sm-8" >
              <mat-select class="form-control" placeholder="Select Status" required>
                <mat-option [value]="0">Active</mat-option>
                <mat-option [value]="1">Inactive</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-sm-4" style="margin-top: 26px;">
            <div class="col-sm-4" >
              <!-- <label class="pull-right" style="margin-top: 6px;" >Status:</label> -->
            </div>
            <div class="col-sm-8" >
              <!-- <mat-select class="form-control" placeholder="Select Status" required>
                <mat-option [value]="0">Active</mat-option>
                <mat-option [value]="1">Inactive</mat-option>
              </mat-select> -->
            </div>
          </div>
          <div class="col-sm-4" style="margin-top: 26px;">
            <div class="col-sm-4" >
              <!-- <label class="pull-right" style="margin-top: 6px;" >Role:</label> -->
            </div>
            <div class="col-sm-8" >
              <!-- <button mat-raised-button class="pull-right btn-primary" style="margin-left: 5px;">
                <mat-icon>youtube_searched_for</mat-icon> Go
              </button>
              <button mat-raised-button style="background-color:#37474f; color:#fff !important;"  class="pull-right" >
                <mat-icon>settings_backup_restore</mat-icon> Clear
              </button> -->
            </div>
          </div>
          <div class="col-sm-4" style="margin-top: 26px;">
            <div class="col-sm-4" >
              <!-- <label class="pull-right" style="margin-top: 6px;" >Role:</label> -->
            </div>
            <div class="col-sm-8" >
              <button mat-raised-button class="pull-right btn-primary" style="margin-left: 5px;">
                <mat-icon>youtube_searched_for</mat-icon> Go
              </button>
              <button mat-raised-button style="background-color:#37474f; color:#fff !important;"  class="pull-right" >
                <mat-icon>settings_backup_restore</mat-icon> Clear
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card> 
  </div>

</div>
<!-- Table -->
<div class="container-fluid">
  <div fxLayout="row wrap" style="margin-left: -6px;
  margin-right: -6px;">
    <div class="table-responsive">
        <table id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th>Code</th>
                    <th class="text-center">Lookup</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let applicant of tableList">
                    <td >{{applicant.CodeMasterName}}</td>
                    <td class="text-center">{{applicant.LookupName}}</td>
                    <td class="text-center">
                        <a [ngStyle]="{'color': applicant.vcStatus? 'blue' : 'red','cursor':'pointer'}"
                            mwlConfirmationPopover [popoverTitle]="popoverStatusTitle"
                            [popoverMessage]="popoverStatusMessage" placement="left"
                            (confirm)="saveStatus();applicant.vcStatus=!applicant.vcStatus"
                            (cancel)="cancelClicked = true" matTooltip="Click to Change Status">
                            {{applicant.vcStatus?'Active':'Inactive'}}
                        </a>
                    </td>
                    <td class="text-center">
                        <a  style="margin-right: 10px; cursor: pointer; color: cornflowerblue" matTooltip="Edit" (click)="addlookup(applicant)">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a mwlConfirmationPopover [popoverTitle]="popoverTitle" matTooltip="Delete"
                            [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteLookup(item)"
                            (cancel)="cancelClicked = true">
                            <i style="cursor: pointer;" title="Delete" class="fa fa-trash red"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>